[run]
branch = True
source = http_app, grpc_app, domains, storage
omit = grpc_app/generated/*
concurrency = multiprocessing
parallel = true

[report]
exclude_lines =
    pragma: no cover
    pass
    \.\.\.
