# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python code quality

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  quality:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python 3.14
      uses: actions/setup-python@v6
      with:
        python-version: "3.14"
    - name: Install uv
      uses: astral-sh/setup-uv@v7
    - name: Install dependencies
      run: make dev-dependencies
    - name: Install dependencies
      run: make dev-dependencies
    - name: Run coverage
      run: make ci-coverage
    - uses: qltysh/qlty-action/coverage@v2
      with:
        token: ${{secrets.QLTY_COVERAGE_TOKEN}}
        files: ${{github.workspace}}/coverage.lcov
